#affordable-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.affordable-pricing-header {
  width: 100%;
  max-width: 900px;
}

.affordable-pricing-header > h2 {
  text-align: center;
  color: var(--dark-gray);
  font-size: 4rem;
  font-weight: 700;

  margin-bottom: 2rem;
}

.affordable-pricing-header > div {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ADADAD;
  font-size: 1.5rem;
  font-weight: 500;

  position: relative;
  width: 100%;

  margin: 0 auto
}

.affordable-pricing-header div strong {
  color: var(--purple-text);
  position: relative;
}

.affordable-pricing-header div div {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 2rem;
}

.gray-dot {
  position: absolute;

  height: .35rem;
  width: .35rem;

  transform: translateY(25%);
  border-radius: 100%;
  background-color: #ADADAD;
}

.relative-span > span {
  position: absolute;
  bottom: -.1rem;

  height: .7rem;
  width: 100%;

  border-radius: 20px;
  background-color: #FDCB6E;
}

/*Container*/

.affordable-pricing-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  
  margin-top: 2rem;
  width: 70%;
  height: 100%;
}

.affordable-pricing-container ul {
  margin-top: 0;
}

.affordable-pricing-container li {
  display: flex;
  align-items: center;

  margin: 1rem 0;

  font-weight: 200;
}

.affordable-pricing-container li img {
  height: 2rem;
  margin-right: 1rem;
}

.affordable-pricing-container > div {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0 1rem 0rem 1rem;
  height: 100%;
}

.affordable-pricing-container div > span {
  margin-bottom: 1rem;
  width: 100%;
}

.affordable-pricing-container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
  width: 100%;
  margin: 0 0 1rem 0;

  color: var(--purple-text);
  font-size: 1.25rem;
  font-weight: 600;
}

.affordable-pricing-container .price {
  font-size: 3rem;
  margin-right: .2rem;
}

.affordable-pricing-container .time {
  font-weight: 900;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.basic-button {
  width: 100%;
  margin-top: 7rem;
}

.buttonIndividual {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--purple-text);
  border-radius: 35px;
  width: 10%;

  margin-right: 2rem;
  padding: .5rem 2.7rem;

  text-transform: uppercase;
  color: black;
  font-size: .9rem;
  font-weight: 800;
  letter-spacing: .2rem;
}

.box-shadow {
  box-shadow: 0 8px 8px 1px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.corporate-button {
  margin-top: 4rem;
}

