#cabecalho {
  display: flex;
  align-items: center;

  width: 100%;
  height: 4rem;

  background-color: var(--white);
  border-radius: .7rem .7rem 0 0;
  box-shadow: 0px 0px 1em var(--white);
  position: fixed;
  z-index: 999;
}

/*Button*/

.button {
  text-decoration: none;
  opacity: .8;
}

.button:hover {
  opacity: 1;
}

#navegation {
  display: flex;
  flex-basis: 42rem;
  margin-left: 5rem;
  justify-content: space-between;
  align-content: space-between;
  transition: all .5s;
}

#navegation a {
  font-size: 1rem;
  color: var(--purple-text);
}

#navegation a:nth-child(1) {
  color: var(--dark-gray);
  font-weight: bold;
}

#register {
  position: absolute;
  right: 0;
  margin-right: 5rem;
  transition: padding .5s;
}

#register > a {
  color: var(--white);
  padding: .75rem 1.5rem;
  background-color: var(--dark-gray);
  border-radius: 1000px;
  font-weight: 600;
  transition: padding 1s;
}

/*Image*/

#logo-img {
  margin-left: 5rem;
  transition: all 1s;
}

#expand-menu {
  display: none;
}

#grid-header {
  font-size: 2rem;
  font-weight: 700;
  transition: all 1s;
}

#expand-menu:hover,
#grid-header:hover,
#logo-img:hover {
  cursor: pointer;
}

.separator {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

hr {
  height: 1px;
  width: 100%;
  margin: 0;
  border: 0;
  box-shadow: 0 1px 1.4px .6px #00000033;
}

@media (max-width: 1250px) {

  /*navegation*/
  #navegation {
    margin-left: 1.3rem;
    flex-basis: 36rem;
    transition: all .5s;
  }
  
  #navegation > a {
    font-size: 1rem;
  }
  
  /*Buttons*/
  
  #register {
    margin-right: 1rem;
    transition: all .5s;
  }
  
  /*Images*/
  
  #logo-img {
    margin: 0 .4rem 0 .8rem;
  }
}

@media (max-width: 1000px) {
  
  /*navegation*/
  #navegation {
    display: none;
    transition: all .5s;
  }

  /*Buttons*/

  #register > a {
    border-radius: .7rem;
    padding: .5rem 1rem;
    transition: padding 1s;
  }

  #logo-img {
    display: none;
  }

  #expand-menu {
    display: flex;
    margin: 0 .4rem 0 1rem;
  }
}

@media (max-width: 350px) {

  /*Buttons*/

  #register {
    margin-right: .4rem;
  }

  #register > a {
    font-size: .8rem;
    padding: .5rem .8rem;
    transition: padding 1s;
  }
}